@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h2>@ViewBag.Title.</h2>
<h3>Who are we?</h3>

<p>
    We are a instrument rental company. Our mission: To promote high-quality instruments to all people. BlowOut Instrument started as a neighborhood hub
    for local neighborhood kids to try out instruments in the garage of Bruce Lee. Bruce had a fascination for music and the influence it had on kids throughout
    their growing years. Fast-forward 10 years. Now Bruce has expanded his business for all to come and discover the joy of musical at affordable prices!
    
</p>
<div class="text-center">
    <img  src="~/Content/Graphics/Founder.jpg" />
</div>

