@{
    ViewBag.Title = "Blow Out!";
}

<link href="~/Content/Graphics/HomeJumbotron.jpg" type="text/css" rel="stylesheet" />

    <div class="homeBackground">
        <div id="homeBackground" class="jumbotron" style="background-image:url('../../Content/Graphics/BackgroundHome.jpg'); background-repeat:no-repeat; background-size:cover">
            <div>
                <h1 style="font-weight:800; color:#fddf82; text-shadow:6px 4px 2px #333">Welcome to Blow Out!</h1>
                <p class="lead myFooterText" style="font-weight:800; color:#fe8d4b; text-shadow:3px 2px 1px #333">We blow our competitors out of the water</p>
               
                <h6 style="font-weight:700; color:#e6f487; text-shadow:2px 1px 1px #111; float:right">
                    <em>
                        "It's easy to play any musical instrument: all you have
                        to do is touch the right key at the right time and the instrument will play itself”.
                    </em><br /><span style="color:#ff5858; font-weight:800">- Johann Sebastian Bach</span>
                </h6>
            </div>
        </div>
    </div>


    <div class="row" style="height: 350px; opacity:.8; font-weight:700; color:#fff000; text-shadow:2px 2px 1px #111; background-image:url('../../Content/Graphics/MusicSheetBackground.jpg'); background-repeat:no-repeat; background-size:cover; border-radius:15px">
        <div class="col-md-4" style="padding: 2%;">
            <h2>Second to NONE Selection</h2>
            <h5>
                Here, we provide the leading brands for all essential instruments, including
                Yamaha, Selmer, Jupiter, Cannonball, Pearl, Armstrong, and more! Come find the
                quality instrument and sound that is right for you! Meet with our experts to get
                world-class opinions on how to make it BIG!
            </h5>
           
        </div>
        <div class="col-md-4" style="padding: 2%;">
            <h2>Exceptional Employees</h2>
            <br />
            <h5>
                Not satisfied with your musical experience? Come see why our employees are the best!
                Stop by to discuss maintenance issues, or drop off your instrument for repair or a tune-up!
                Interested in lessons? Check with offers from our staff!
            </h5>
            
        </div>
        <div class="col-md-4" style="padding: 2%;">
            <h2>More on our products</h2>
            <br />
            <h5>
                Can't find what your looking for? Check out products that we have available in stock.
                We have a wide selection of reeds, mouthpieces, valve oil, etc. as well as musical books
                and compositions of all genres to fit your needs!
            </h5>
            
        </div>
    </div>
